* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

header {
  background: #000;
  color: white;
  padding: 15px;
}

header h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #1c1c1c;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
}

nav a:hover {
  background: #0072ce;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.hero {
  background: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/BMW_M4_GTS.jpg') center/cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h2 {
  background: rgba(0,0,0,0.6);
  padding: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card:hover {
        box-shadow: 10px 10px 30px red;
}

.card img {
  width: 100%;
  border-radius: 5px;
}


footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  nav {
    flex-direction: column;
  }

  .hero {
    height: 200px;
  }
}